body {
  background-image: url(http://assets.breatheco.de/apis/img/bg/background-vertical.jpg);
  background-repeat: repeat-y;
  padding-left: 20px;
}
h1 {
  font-family: "Courier";
  color: red;
  position: center;
  text-align: center;
}
h2, p, li, {
  font-family: "Times New Roman";
}
h2 {
  text-decoration: underline;
}
#firsth2 {
  background: RGBA(255,255,255,0.5);
  padding: 5px;
}
a:hover {
  color: green;
  text-decoration: none;
}