body{
    background: #BDBDBD;
}
.rounded {
    width:200px;
    height: 200px;
    background-image: url("einstein.jpg");
    background-position-x: center;
    background-position-y: top;
    border-radius: 100%;
    background-size: 200%;
}