/* import fuente */
@import url('https://fonts.googleapis.com/css?family=Raleway'); 
html, h1, h2, h3, h4, h5, h6, a {
    font-family: Raleway;
}

/* Barra de Navegacion */
.navbar {
    background: #F97300;
}

.nav-link, .navbar-brand {
    color: #f4f4f4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #f4f4f4;
    color: #F97300;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}
/* primera seccion - inicio */

.header {
   background-image: url(../img/bg-header.jpg);
   background-attachment: fixed;
   background-size: cover;
   background-position: center; 
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.30 );
}
.descripcion {
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.descripcion h1 {
        color: #F97300;
}
.descripcion p {
    color: white;
    font-size: 20px;
    width: 50%;
    line-height: 1,5;
}

.descripcio button {
    border: 1px solid #F97300;
    background: ##F97300;
    color: #fff;
}

/* seccion About */

.about {
    margin: 4em 0;
    padding: 1em;
    position: relative;
}

.about h1 {
    color: #F97300;
    margin: 2em;
}

.about img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid #F97300
}

.about span {
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc {
    padding: 2em;
    border-left: 4px solid #10826c;
}
    
.about .desc h3 {
     color: #10828c;
}

.about .desc p {
    line-height: 2;
    color: #888;
}
   
/* seccion Portfolio */

.portfolio {
    margin: 4em 0;
    position: relative;
}

.portfolio h1 {
    color: #F97300;
    margin: 2em;
}

.portfolio img {
    height: 15rem;
    width: 100%;
    margin: 1em;
    border: 
}
