section#home {
    width: 100vw;/* vw: view width*/
    height: 100vh;/* vh: view height*/
    background-image: url(../img/fondo1.jpg);
    background-attachment: fixed;/* deja fijo el fondo*/
    background-position: center;
    background-size: cover; /*va a ocupar todo el espacio, no dega espacios vacios*/
}
section#about {
    width: 100vw;/* vw: view width*/
    height: 100vh;/* vh: view height*/
    background-image: url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover; /*va a ocupar todo el espacio, no dega espacios vacios*/
}
section#contact {
    width: 100vw;/* vw: view width*/
    height: 100vh;/* vh: view height*/
    background-image: 
        url('../img/fondo1.jpg'),
        url('../img/fondo2.jpg'),
        url('../img/fondo3.jpg'),
        url('../img/fondo3.jpg');
        background-position: center,  bottom, top, center;
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
        background-size: 20%, 20%, 20%, cover;
    
}

#home h1{
    /* para redondear las esquinas
    border-radius: 10px 10px;
    background:-webkit-linear-gradient
    (top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);*/
    
}
