body{
    background: #333 url(../img/bg.jpg);
    background-size: cover;
    font: 8pt verdana, Geneva, Arial;
    color: white;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

#contenedor {
    text-align: left;
    width: 800px;
    background-color: white;
    color: #666;
    margin: auto; /* lo centra*/
}

#cabecera {
    height: 106px;
    width: 800px;
}

#navegacion {
    background-color: chocolate;
    padding: 3px 10px; /* (arriba y abayo) (derecha e izquierda)*/
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    text-align: center;
}

a.navegacion-nav {
    color: black;
    display: table-cell;/* para que se comporte como una celda dentro de una tabla*/
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-decoration: none;   
    vertical-align: middle;
    width: 200px;
}

a.navegacion-nav:hover {
    background: red;
    color: grey;
}

#contenedor #main {
    background-color: whitesmoke;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    float: left;
    padding: 10px;
    width: 600px;
}
#main h1{
    text-align: center;
}
#main figure{
    text-align: center;
}
#main p{
    margin: 0 10px;
    text-align: justify
}
#lateral {
    background-color: rgb(163, 224, 21);
    float: right;
    padding: 5px;
    width: 170px;
}
