/** Insert your code here **/
#red {
    color: red;
  }
  .bg {
      background-color: green;
  }
  tr:nth-child(odd) {
    background-color: yellow;
}
  
  
  /*********** REDONLY BLOCK ******
  You CAN NOT UPDATE anything from here on,
  only add lines of code on top of this lines
  **/
  
  body{
      color: blue;
  }
  ul li, ol li{
      color: green;
  }